@charset "UTF-8";

/* 

  Arquivo de estilo para o Projeto do HotSite Aula de Praticas de Design 
  Todos os direitos Reservados Jeferson Carvalho

 */

html{
  overflow-x: hidden;
}

h1 {font-size: 35px;}
h2 {font-size:30px;font-weight: bold;}
h3 {font-size:25px;font-weight: bold;}
h4 {font-size:20px;}

body, html { height: 100%; font-size: 16px; font-family: 'Roboto', sans-serif; font-weight: 300;}


/* col-xs -> extra small devices phone (até 480px) - Celular */
@media screen and (min-width: 100px) and (max-width: 480px) {
  .form-inscreva h2 {color: #ff4500;font-weight: bold;padding-top: 10px;}
  .h2-title{color: #ff4500; font-weight: bold; padding-top: 20px;}
  .social-links{list-style: none !important;margin: 0px;padding: 0px;display: inline;display: block;float: right;}
  .social-links-li{float:left;padding:1px 1px;list-style-type:none;}
  .style-nav{width: 100%;padding-left: 0px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;}
  .style-section-1{height: 600PX;padding: 20px;min-height: 950px;}
  .style-section-from{padding-top: 20px;}
  .style-section-from form {width: 100%;background-color: rgba(153, 153, 153, 0.26);border-radius: 8PX;}
  .style-section-from input {width: 100%;margin-top: 10px;padding: 5px;border-radius: 4px;}
  .style-section-from textarea {width: 100%;height: 150px;margin-top: 10px;padding: 10px;border-radius: 4px;}
  .style-section-from button{margin: 15px;}
  .style-section-2{padding: 40px 0px 40px 0px;}
  .style-section-3{padding: 40px 0px 40px 0px;margin-bottom: 0px;}
  .style-section-ele{padding: 10px;}
  .style-section-3-elementos{padding: 10px;}
  .style-section-4{padding: 0px 0px 40px 0px;}
  .style-section-4-elementos{padding: 0px;}
  .style-section-5{padding: 40px 0px 40px 0px;}
  .navbar-default{background-color: #333333;border: none;}
  .a-lin-nav{font-weight: bold;color: #fff;}
  .a-lin-nav:hover{color: #FF4500;background-color: transparent;}
  .img-web{padding-top: 50px;}
  .style-section-4 img{width: 90%; padding-top: 40px;  }
  .style-section-contato{background-color: #ccc;padding: 0px 0px 40px 0px;}
  .subscribe {background: #f24303;}
  .subscribe .inner { background: none; }
  .subscribe .top-title {padding-top: 35px;padding-bottom: 2px;font-size: 18px;color: #fff;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: normal;}
  .subscribe .bottom-title {padding-bottom: 38px;font-size: 36px;font-weight: bold;color: #080808;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: 36px;}
  .subs-form { font-size: 0;position: relative;margin: 10px 0px 20px 0px;}
  .subs-form input { display: inline-block; }
  .subs-form input[type='text'] { padding-right: 32%; width: 100%; }
  .subs-form input[type='submit'] {width: 30%;height: 49px;line-height: 49px;position: absolute;top: 0;right: 0;background: #080808;border:none;font-size: 14px;text-transform: uppercase;color: #FFF;font-weight: bold;transition: all 400ms;}
  .subs-form input[type='submit']:hover {background: #0abf0a;}
  input[type='text'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='tel'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='email'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  textarea { padding: 10px 22px 10px 22px; background: #f5f2eb; border:1px solid #e3ded4; border-radius: 2px; resize: vertical; transition: all 400ms; }
  .contact-input { margin-bottom: 29px; width: 100%; border:1px solid #e3ded4; border-radius: 2px; font-size: 16px; }
  .contact-form textarea {margin-bottom: 29px;height: 115px;background: #fff;width: 100%;font-size: 16px;min-height: 115px;}
  .contact-form button {min-width: 186px;height: 48px;vertical-align: top;line-height: 48px;background: #f24303;border:none;font-size: 16px;border-radius: 2px;color: #fff;font-weight: 600;transition: all 400ms;}
  .contact-form button:hover {background-color: #00cc00; color: #fff;}
  .contact-left{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px; margin-bottom: 10px;}
  .contact-left h2 { margin-bottom: 0; }
  .contact-right{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px;}
  .contact-right h2 { margin-bottom: 10px; }
  .contact-left .item { padding-top: 42px;}
  .contact-left .item .title {font-size: 18px;text-transform: uppercase;color: #fff;font-weight: bold;}
  .contact-left .item .title i {margin-right: 5px;color: #f24303;}
  .contact-left .item p {font-size: 14px;color: #fff;}
  .contact-left .item a {font-size: 14px;color: #fff;}
  .top-bar {padding: 5px 0 5px 0;background: #ff4500;position: relative;z-index: 102;}
  .top-bar-contacts {}
  .top-bar-contacts li {padding-right: 28px;display: inline-block;font-size: 12px;font-weight: bold;color: #000;}
  .top-bar-contacts li i {margin-right: 8px;color: #000;font-size: 14px;}
  .top-bar .top-social { text-align: right; }
  .top-bar .top-social li { padding: 0 0 0 25px; display: inline-block; }
  .top-bar .top-social li a {font-size: 14px;color: #000;}
  .top-bar .top-social li a:hover {color: #fff;}
  footer.footer { margin: 0; }
  .top-footer {padding: 30px 0 30px 0;background: #3a3a3a;}
  .footer-about .title { padding-bottom: 20px; font-size: 24px; line-height: 24px; font-weight: bold; color: red; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .footer-about p { font-size: 12px; font-weight: 300; color: #d8cfb5; line-height: 20px; }
  .footer-contacts {padding-top: 20px;}
  .footer-contacts li { padding-bottom: 16px; font-size: 14px; font-weight: 300; color: #959595; }
  .footer-contacts li:hover {color: #fff;}
  .footer-contacts li i {margin-right: 12px;font-size: 18px;color: #959595;}
  .footer-social .title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .social {}
  .social li { padding-left: 8px; display: inline-block; }
  .social li:first-child { padding-left: 0; }
  .social li a { width: 45px; height: 45px; line-height: 45px; text-align: center; border-radius: 50%; display: block; background: #e5e0d6; font-size: 18px; color: #2b1b13; }
  .social li a:hover {background: #f24303;color: #fff;}
  .bottom-footer {padding: 28px 0 29px 0;background: #2e2e2e;}
  .bottom-footer .copyrights {color: #959595;font-size: 14px;}
  .bottom-footer .copyrights a {font-size: 14px;color: #f24303;}
  .bottom-footer .copyrights a:hover { color: #FFF; }
  .footer-col__title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;text-align: center;}
  .top-footer p {color: #fff; padding-top: 10px;}
  .h3-title{color: #000; font-weight: bold; padding-top: 20px;}
  .h3-title-pos{color: #fff;font-weight: bold;padding-top: 20px;}  
  .subs-form-input{margin-left: 0px; margin-bottom: 30px;}
  .enviar-msg{color: #f24303;}
  .logomaratona{font-weight: bold;}
  .logomaratona2{color: #FF4500;}
  .logoprogramacao{color: #fff;}
}

/* col-sm -> small devices tablet(maior ou igual a 768px) - Tablet */
@media screen and (min-width: 490px) and (max-width: 768px) {
  .form-inscreva h2 {color: #ff4500;font-weight: bold;padding-top: 10px;}
  .h2-title{color: #ff4500; font-weight: bold; padding-top: 20px;}
  .social-links{list-style: none !important;margin: 0px;padding: 0px;display: inline;display: block;float: right;}
  .social-links-li{float:left;padding:1px 1px;list-style-type:none;}
  .style-nav{width: 100%;padding-left: 0px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;}
  .style-section-1{height: 600PX;padding: 20px;min-height: 1200px;}
  .style-section-from{padding-top: 20px;}
  .style-section-from form {width: 100%;background-color: rgba(153, 153, 153, 0.26);border-radius: 8PX;}
  .style-section-from input {width: 100%;margin-top: 10px;padding: 5px;border-radius: 4px;}
  .style-section-from textarea {width: 100%;height: 150px;margin-top: 10px;padding: 10px;border-radius: 4px;}
  .style-section-from button{margin: 15px;}
  .style-section-2{padding: 40px 0px 40px 0px;}
  .style-section-3{padding: 40px 0px 40px 0px;margin-bottom: 0px;}
  .style-section-ele{padding: 10px;}
  .style-section-3-elementos{padding: 10px;}
  .style-section-4{padding: 0px 0px 40px 0px;}
  .style-section-4-elementos{padding: 0px;}
  .style-section-5{padding: 40px 0px 40px 0px;}
  .navbar-default{background-color: #333333;border: none;}
  .a-lin-nav{font-weight: bold;color: #fff;}
  .a-lin-nav:hover{color: #FF4500;background-color: transparent;}
  .img-web{padding-top: 50px;}
  .style-section-4 img{width: 90%; padding-top: 40px;  }
  .style-section-contato{background-color: #ccc;padding: 0px 0px 40px 0px;}
  .subscribe {background: #f24303;}
  .subscribe .inner { background: none; }
  .subscribe .top-title {padding-top: 35px;padding-bottom: 2px;font-size: 18px;color: #fff;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: normal;}
  .subscribe .bottom-title {padding-bottom: 38px;font-size: 36px;font-weight: bold;color: #080808;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: 36px;}
  .subs-form { font-size: 0;position: relative;margin: 10px 0px 20px 0px;}
  .subs-form input { display: inline-block; }
  .subs-form input[type='text'] { padding-right: 32%; width: 100%; }
  .subs-form input[type='submit'] {width: 30%;height: 49px;line-height: 49px;position: absolute;top: 0;right: 0;background: #080808;border:none;font-size: 14px;text-transform: uppercase;color: #FFF;font-weight: bold;transition: all 400ms;}
  .subs-form input[type='submit']:hover {background: #0abf0a;}
  input[type='text'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='tel'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='email'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  textarea { padding: 10px 22px 10px 22px; background: #f5f2eb; border:1px solid #e3ded4; border-radius: 2px; resize: vertical; transition: all 400ms; }
  .contact-input { margin-bottom: 29px; width: 100%; border:1px solid #e3ded4; border-radius: 2px; font-size: 16px; }
  .contact-form textarea {margin-bottom: 29px;height: 115px;background: #fff;width: 100%;font-size: 16px;min-height: 115px;}
  .contact-form button {min-width: 186px;height: 48px;vertical-align: top;line-height: 48px;background: #f24303;border:none;font-size: 16px;border-radius: 2px;color: #fff;font-weight: 600;transition: all 400ms;}
  .contact-form button:hover {background-color: #00cc00; color: #fff;}
  .contact-left{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px; margin-bottom: 10px;}
  .contact-left h2 { margin-bottom: 0; }
  .contact-right{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px;}
  .contact-right h2 { margin-bottom: 10px; }
  .contact-left .item { padding-top: 42px;}
  .contact-left .item .title {font-size: 18px;text-transform: uppercase;color: #fff;font-weight: bold;}
  .contact-left .item .title i {margin-right: 5px;color: #f24303;}
  .contact-left .item p {font-size: 18px;color: #fff;}
  .contact-left .item a {font-size: 18px;color: #fff;}
  .top-bar {padding: 5px 0 5px 0;background: #ff4500;position: relative;z-index: 102;}
  .top-bar-contacts {}
  .top-bar-contacts li {padding-right: 28px;display: inline-block;font-size: 12px;font-weight: bold;color: #000;}
  .top-bar-contacts li i {margin-right: 8px;color: #000;font-size: 14px;}
  .top-bar .top-social { text-align: right; }
  .top-bar .top-social li { padding: 0 0 0 25px; display: inline-block; }
  .top-bar .top-social li a {font-size: 14px;color: #000;}
  .top-bar .top-social li a:hover {color: #fff;}
  footer.footer { margin: 0; }
  .top-footer {padding: 30px 0 30px 0;background: #3a3a3a;}
  .footer-about .title { padding-bottom: 20px; font-size: 24px; line-height: 24px; font-weight: bold; color: red; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .footer-about p { font-size: 12px; font-weight: 300; color: #d8cfb5; line-height: 20px; }
  .footer-contacts {padding-top: 20px;}
  .footer-contacts li { padding-bottom: 16px; font-size: 14px; font-weight: 300; color: #959595; }
  .footer-contacts li:hover {color: #fff;}
  .footer-contacts li i {margin-right: 12px;font-size: 18px;color: #959595;}
  .footer-social .title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .social {}
  .social li { padding-left: 8px; display: inline-block; }
  .social li:first-child { padding-left: 0; }
  .social li a { width: 45px; height: 45px; line-height: 45px; text-align: center; border-radius: 50%; display: block; background: #e5e0d6; font-size: 18px; color: #2b1b13; }
  .social li a:hover {background: #f24303;color: #fff;}
  .bottom-footer {padding: 28px 0 29px 0;background: #2e2e2e;}
  .bottom-footer .copyrights {color: #959595;font-size: 14px;}
  .bottom-footer .copyrights a {font-size: 14px;color: #f24303;}
  .bottom-footer .copyrights a:hover { color: #FFF; }
  .footer-col__title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;text-align: center;}
  .top-footer p {color: #fff; padding-top: 10px;}
  .h3-title{color: #000; font-weight: bold; padding-top: 20px;}
  .h3-title-pos{color: #fff;font-weight: bold;padding-top: 20px;}  
  .subs-form-input{margin-left: 0px; margin-bottom: 30px;}
  .enviar-msg{color: #f24303;}
  .logomaratona{font-weight: bold;}
  .logomaratona2{color: #FF4500;}
  .logoprogramacao{color: #fff;}
}

/* col-md - Medium devices desktop (maior ou igual a 998px) - Notebook */
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .form-inscreva h2 {color: #ff4500;font-weight: bold;padding-top: 10px;}
  .h2-title{color: #ff4500; font-weight: bold; padding-top: 20px;}
  .social-links{list-style: none !important;margin: 0px;padding: 0px;display: inline;display: block;float: right;}
  .social-links-li{float:left;padding:1px 1px;list-style-type:none;}
  .style-nav{width: 100%;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;}
  .style-section-1{height: 600PX;padding: 20px;}
  .style-section-from{padding-top: 20px;}
  .style-section-from form {width: 100%;background-color: rgba(153, 153, 153, 0.26);border-radius: 8PX;}
  .style-section-from input {width: 100%;margin-top: 10px;padding: 5px;border-radius: 4px;}
  .style-section-from textarea {width: 100%;height: 150px;margin-top: 10px;padding: 10px;border-radius: 4px;}
  .style-section-from button{margin: 15px;}
  .style-section-2{padding: 40px 0px 40px 0px;}
  .style-section-3{padding: 40px 0px 40px 0px;margin-bottom: 0px;}
  .style-section-ele{padding: 10px;}
  .style-section-3-elementos{padding: 10px;}
  .style-section-4{padding: 0px 0px 40px 0px;}
  .style-section-4-elementos{padding: 0px;}
  .style-section-5{padding: 40px 0px 40px 0px;}
  .navbar-default{background-color: #333333;border: none;}
  .a-lin-nav{font-weight: bold;color: #fff;}
  .a-lin-nav:hover{color: #FF4500;background-color: transparent;}
  .img-web{padding-top: 50px;}
  .style-section-4 img{width: 90%; padding-top: 40px;  }
  .style-section-contato{background-color: #ccc;padding: 0px 0px 40px 0px;}
  .subscribe {background: #f24303;}
  .subscribe .inner { background: none; }
  .subscribe .top-title {padding-top: 35px;padding-bottom: 2px;font-size: 18px;color: #fff;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: normal;}
  .subscribe .bottom-title {padding-bottom: 20px;font-size: 36px;font-weight: bold;color: #080808;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: 36px;}
  .subs-form { font-size: 0;position: relative;margin: 10px 0px 20px 0px; }
  .subs-form input { display: inline-block; }
  .subs-form input[type='text'] { padding-right: 32%; width: 100%; }
  .subs-form input[type='submit'] {width: 30%;height: 49px;line-height: 49px;position: absolute;top: 0;right: 0;background: #080808;border:none;font-size: 14px;text-transform: uppercase;color: #FFF;font-weight: bold;transition: all 400ms;}
  .subs-form input[type='submit']:hover {background: #0abf0a;}
  input[type='text'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='tel'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  input[type='email'] { height: 49px; line-height: 49px; padding: 10px 22px 10px 22px; font-size: 14px; font-weight: 300; border: none; transition: all 400ms; }
  textarea { padding: 10px 22px 10px 22px; background: #f5f2eb; border:1px solid #e3ded4; border-radius: 2px; resize: vertical; transition: all 400ms; }
  .contact-input { margin-bottom: 29px; width: 100%; border:1px solid #e3ded4; border-radius: 2px; font-size: 16px; }
  .contact-form textarea {margin-bottom: 29px;height: 115px;background: #fff;width: 100%;font-size: 16px;min-height: 115px;}
  .contact-form button {min-width: 186px;height: 48px;vertical-align: top;line-height: 48px;background: #f24303;border:none;font-size: 16px;border-radius: 2px;color: #fff;font-weight: 600;transition: all 400ms;}
  .contact-form button:hover {background-color: #00cc00; color: #fff;}
  .contact-left{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px; margin-bottom: 10px;}
  .contact-left h2 { margin-bottom: 0; }
  .contact-right{background-color: rgba(153, 153, 153, 0.26); padding: 10px; border-radius: 8px;}
  .contact-right h2 { margin-bottom: 10px; }
  .contact-left .item { padding-top: 42px;}
  .contact-left .item .title {font-size: 18px;text-transform: uppercase;color: #fff;font-weight: bold;}
  .contact-left .item .title i {margin-right: 5px;color: #f24303;}
  .contact-left .item p {font-size: 18px;color: #fff;}
  .contact-left .item a {font-size: 18px;color: #fff;}
  .top-bar {padding: 5px 0 5px 0;background: #ff4500;position: relative;z-index: 102;}
  .top-bar-contacts {}
  .top-bar-contacts li {padding-right: 28px;display: inline-block;font-size: 12px;font-weight: bold;color: #000;}
  .top-bar-contacts li i {margin-right: 8px;color: #000;font-size: 14px;}
  .top-bar .top-social { text-align: right; }
  .top-bar .top-social li { padding: 0 0 0 25px; display: inline-block; }
  .top-bar .top-social li a {font-size: 14px;color: #000;}
  .top-bar .top-social li a:hover {color: #fff;}
  footer.footer { margin: 0; }
  .top-footer {padding: 30px 0 30px 0;background: #3a3a3a;}
  .footer-about .title { padding-bottom: 20px; font-size: 24px; line-height: 24px; font-weight: bold; color: red; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .footer-about p { font-size: 12px; font-weight: 300; color: #d8cfb5; line-height: 20px; }
  .footer-contacts {padding-top: 20px;}
  .footer-contacts li { padding-bottom: 16px; font-size: 14px; font-weight: 300; color: #959595; }
  .footer-contacts li:hover {color: #fff;}
  .footer-contacts li i {margin-right: 12px;font-size: 18px;color: #959595;}
  .footer-social .title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
  .social {}
  .social li { padding-left: 8px; display: inline-block; }
  .social li:first-child { padding-left: 0; }
  .social li a { width: 45px; height: 45px; line-height: 45px; text-align: center; border-radius: 50%; display: block; background: #e5e0d6; font-size: 18px; color: #2b1b13; }
  .social li a:hover {background: #f24303;color: #fff;}
  .bottom-footer {padding: 28px 0 29px 0;background: #2e2e2e;}
  .bottom-footer .copyrights {color: #959595;font-size: 14px;}
  .bottom-footer .copyrights a {font-size: 14px;color: #f24303;}
  .bottom-footer .copyrights a:hover { color: #FFF; }
  .footer-col__title {padding-bottom: 20px;font-size: 24px;line-height: 24px;font-weight: bold;color: #f24303;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;text-align: center;}
  .top-footer p {color: #fff; padding-top: 10px;}
  .h3-title{color: #000; font-weight: bold; padding-top: 20px;}
  .h3-title-pos{color: #fff;font-weight: bold;padding-top: 20px;}  
  .subs-form-input{margin-left: 282px; margin-bottom: 30px;}
  .enviar-msg{color: #f24303;}
  .logomaratona{font-weight: bold;}
  .logomaratona2{color: #FF4500;}
  .logoprogramacao{color: #fff;}
}